/**
 * LoadingSpinner Component Styles
 * Spinning loader with size variants
 */

@use '../../styles/abstracts' as *;

.spinner {
  @include spin-animation;
  border: 4px solid rgba(59, 130, 246, 0.1);
  border-top-color: $color-primary;
  border-radius: 50%;

  &.small {
    width: 24px;
    height: 24px;
    border-width: 3px;
  }

  &.medium {
    width: 40px;
    height: 40px;
    border-width: 4px;
  }

  &.large {
    width: 60px;
    height: 60px;
    border-width: 5px;
  }
}
